<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: menutop}"></div>	
		<div class="container-fluid">
			<div class="">			
				<div>
					<main class="st_body pl-3 pt-2">
					<div class="card mb-2">
					  <div class="card-body">
					    This is some text within a card body.
					  </div>
					</div>
					<div class="card mb-2">
					  <div class="card-body">
					    This is some text within a card body.
					  </div>
					</div>
					<div class="card mb-2">
					  <div class="card-body">
					    This is some text within a card body.
					  </div>
					</div>
					</main>
				</div>
			</div>
		</div>
	</body>
</html>