<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: menutop}"></div>
		<div class="container-fluid">
			<div class="row flex-xl-nowrap">
				<div class="card mx-auto m-3" style="width: 40rem;">
					<div class="card-body">
						<h4 class="card-title">Atualizar Perfil</h4>				
						<form th:action="@{/user/profile-update}"  th:object="${updateProfileDto}" method="post">			
							<div class="form-group">
								<input th:field="*{username}" th:errorclass="is-invalid" type="hidden" name="username" class="form-control" placeholder="nome" />
								<div th:errors="*{username}" class="invalid-feedback">
									Erros no nome.
								</div>
							</div>
							
							<div class="form-group">
								<label for="email">Email</label>
								<input th:field="*{email}" th:errorclass="is-invalid" type="email" name="email" class="form-control" placeholder="email" />
								<div th:errors="*{email}" class="invalid-feedback">
									Erros no email.
								</div>						
							</div>
					 	<hr>
							<h4 class="card-title">Trocar senha</h4>
							<div class="form-group">
								<label for="password">Senha Atual</label>
								<input th:field="*{password}" th:errorclass="is-invalid" type="password" name="password" class="form-control" placeholder="senha atual" />
								<div th:errors="*{password}" class="invalid-feedback">
									Erros no email.
								</div>						
							</div>
							
							<div class="form-group">
								<label for="newPassword">Nova Senha</label>
								<input th:field="*{newPassword}" th:errorclass="is-invalid" type="password" name="newPassword" class="form-control" placeholder="nova senha" />
								<div th:errors="*{newPassword}" class="invalid-feedback">
									Erros no email.
								</div>						
							</div>
							<div class="form-group">
								<label for="password-repeat">Repetir Nova Senha</label>
								<input type="password" name="password-repeat" class="form-control" placeholder="repetir senha" />				
							</div>
						<hr>
							<div class="pt-3">
								<button class="btn btn-success px-4" type="submit">OK</button>
								<a class="btn btn-primary px-4 ml-3" href="/home">Home</a>
							</div>
							<br>
						</form>	
						<span class="text-danger" th:text="${passError}">Password error!</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>