<html>
	<head th:replace="~{base :: head}"></head>
	<body>
		<div th:replace="~{base :: menutop}"></div>	
		<div class="container-fluid">
		<div class="row">
			<!-- Modulo de adição de peso -->
			<div class="col-2">
				<div class="st_body">
					<div class="card mx-auto mt-3 p-3" >
						<div class="">
							<form th:action="@{/user/weight-new}" th:object="${weightForm}"
								method="post">
								<div>
									<input th:value="${authoritiesService.getAuthorities.getUsername}"
										class="form-control" th:errorclass="is-invalid" name="username"
										type="hidden"></input>
									<div class="row px-2">
										<label name="weight" class="col-form-label">Peso:</label>
										<input th:field="*{weight}" th:errorclass="is-invalid"
											type="number" name="weight" class="form-control"
											placeholder="Entre com peso" required min="1" max="180"
											value="0" step=".01" />
										<div th:errors="*{weight}" class="invalid-feedback">error
											weight.</div>
									</div>
									<div class="row px-2">
										<label name="date" class="col-form-label">Data:</label>
										<input th:field="*{date}" th:errorclass="is-invalid" type="date"
											class="form-control"></input>
										<div th:errors="*{date}" class="invalid-feedback">error
											date</div>
									</div>
									<div class="row px-2 pt-3">
										<button type="submit" class="btn btn-outline-secondary">OK</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Lista de peso -->
			<div class="col-8">
				<div class="st_body">
			<!-- Gráfico -->
					<div class="card mx-auto m-3 p-3">
						<div id="chart_div" class="mx-auto" style="width: 100%; height: 150px;"></div>
						<p class="pt-3 mb-0 " > 
						</p>
					</div>
			<!-- Tabela peso -->
					<div class="card mx-auto m-3 p-3">					
					<div class="card-body">
						<!-- Paginação -->
						<div th:data-page="${weights.getNumber}">
							<span th:switch="${weights.hasPrevious}">
								<a th:case="true" th:href="${weights.getNumber - 1}">
									<img src="/icons/bootstrap-icons-1.1.0/arrow-bar-left.svg" alt="" width="20" height="20" title="Próxima página">
								</a>
							</span>
							
							<label class="">Pagina </label>
							<span th:text="${weights.getNumber + 1}"> pages</span>
							<label> de </label>
							<span th:text="${weights.totalpage}"> total</span>
							
							<span th:switch="${weights.hasNext}">
								<a th:case="true" th:href="${weights.getNumber + 1}">
									<img src="/icons/bootstrap-icons-1.1.0/arrow-bar-right.svg" alt="" width="20" height="20" title="Próxima página">
								</a>
							</span>
						</div>
						
						<table class="table" id="myTable" th:with="id = ${weights.getNumber * 10}">
						  <thead>
						    <tr>
						      <th class=" text-center;" scope="col">Item</th>
						      <th class=" text-center" scope="col">Data</th>
						      <th class=" text-center" scope="col">Meta</th>
						      <th class=" text-center" scope="col">Peso</th>
						      <th class=" text-center" scope="col">Peso - Meta</th>
						      <th class=" text-center" scope="col">%</th>
						      <th class=" text-center" scope="col">Remover</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="registers, item: ${weights.getRegisters}" >
						      <th class="m-0 py-3 text-center" th:text="${weights.getNumber*15 + item.index+1}">linha</th>
						      <td class="m-0 text-center">
						      	<input class="text-left text-dark" th:value="${registers.getDate}" type="date" style="background-color: inherit; border-style: hidden;" disabled>
						      </td>
						      <td class="m-0 py-3 text-center" th:text="${registers.target} + ' kg'">0.99</td>
						      <td class="m-0 py-3 text-center" th:text="${registers.weight} + ' kg'">0.99</td>
						      <td class="m-0 py-3 text-center" th:text="${registers.getWeightMinTarget} + ' kg'"> </td>
						      <td id="demo" class="m-0 py-3 text-center" th:text="${registers.percent} +' %'" >	</td>		      
						      <td class="m-0 p-0 text-center">
						      	<form class="m-0 p-0" action="#" th:action="@{/user/weight-delete}" method="post" th:data-date="${registers.getDate}" 
						      		th:onsubmit="return confirm('Deseja excluir registro do dia : ' + this.getAttribute('data-date'))">
						      		<input class="m-0 p-0" type="hidden" name="id"  th:value="${registers.getId}" />
						      		<button type="submit" class="btn mt-1" ><img src="/icons/bootstrap-icons-1.1.0/trash.svg" alt="" width="20" height="20" title="Renover registro"></button>
								</form>
						      </td> 
						    </tr>
						  </tbody>
						</table>
					  </div>
					</div>
				</div>
				</div>
			</div>
		   	</div>
	<script type="text/javascript" th:inline="javascript">
	      google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);
	
	      function drawChart() {
	        // Some raw data (not necessarily accurate)
	        
	        var data = new google.visualization.DataTable();
	       	data.addColumn('date', 'Data');
	        data.addColumn('number', 'Peso');
	        data.addColumn('number', 'Meta');	 
        	/*[# th:each="registers,item: ${weights.getRegisters}"]*/	
	   			var obj = [ new Date([[${registers.getDate}]]) , parseInt([[${registers.getWeight}]]), parseInt([[${registers.getTarget}]]) ];
	   			data.addRow(obj);			
			/*[/]*/
			
	        var options = {
	          vAxis: {title: 'Kg'},
	          seriesType: 'bars',
	          bar: { groupWidth: '75%' },
	          series: {1: {type: 'line'}},
	          isStacked: {true:{ relative: '70%'}},
			  legend: {position: 'none'}};
	
	        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	      }
	    </script>
	</body>
</html>